body {
    background: #2a78ac;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main {
    background: #f8f8f8;
    border-radius: 20px;
    width: 624px;
    margin: 16px;
}

.image {
    border-radius: 50%;
}